@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --tw-bg-opacity: 1;
    background-color: rgb(9 9 10 / var(--tw-bg-opacity));
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}
